<div class="h-screen w-full bg-[#e5e5e5] flex justify-center items-center">
    <div class="bg-white p-8 w-4/5 mx-auto flex flex-col items-center text-center rounded shadow-[0_0_10px_1px_rgba(0,0,0,0.2)] lg:w-1/2">
        <h1 class="text-[150px]	text-green-500">404</h1>
        <h2 class="text-2xl">Vaya, ¿cómo llegaste aquí?</h2>
        <h4 class="pb-12 my-2">Tal vez quisiste decir: <span class="text-blue-600 underline hover:text-violet-600" ><a href="https://github.com/Michell2022">https://github.com/Michell2022</a></span></h4>
        
        <h5 class="font-bold text-2xl">PAGE NOT FOUND</h5>
        <div class="my-3">
            <a routerLinkActive routerLink="/home">
            <button class="bg-green-500 text-white font-bold py-2 px-4 rounded duration-300 hover:bg-white hover:text-green-500 hover:shadow-[0_0_10px_1px_rgba(100,200,113,0.4)]">VOLVER</button>
            </a>
        </div>
    </div>
</div>